@font-face {
    font-family: OldNewspaperTypes;
    src: url(/src/fonts/OldNewspaperTypes.ttf);
}

:root {
    --base-dark: #0E0E0E;
    --base-light: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    scroll-behavior: smooth;
}